@page
@model Verein.Pages.Stammdaten.CreateModel

@{
    ViewData["Title"] = "Stammdatum anlegen";
}

<h1>Stammdatum anlegen</h1>

<h4>Stammdaten Eintrag</h4>
<hr />
<div class="row">
    <form class="col-md-12" method="post">
        <div class="form-row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="StammdatenEintrag.Title" class="control-label"></label>
                    <span asp-validation-for="StammdatenEintrag.Title" class="text-danger float-right"></span>
                    <input asp-for="StammdatenEintrag.Title" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="StammdatenEintrag.Value" class="control-label"></label>
                    <span asp-validation-for="StammdatenEintrag.Value" class="text-danger float-right"></span>
                    <input asp-for="StammdatenEintrag.Value" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Erstellen" class="btn btn-primary mr-1" />
                    <a class="btn btn-secondary mr-1" asp-page="Index">Zurück zur Liste</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="StammdatenEintrag.Description" class="control-label"></label>
                    <span asp-validation-for="StammdatenEintrag.Description" class="text-danger float-right"></span>
                    <input asp-for="StammdatenEintrag.Description" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="StammdatenEintrag.Type" class="control-label"></label>
                    <span asp-validation-for="StammdatenEintrag.Type" class="text-danger float-right"></span>
                    <select asp-for="StammdatenEintrag.Type" asp-items="Html.GetEnumSelectList<Verein.Models.Datatype>()" class="form-control">
                        <option selected="selected" value="">Bitte Auswählen</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
