@page
@model Verein.Pages.Tarife.EditModel

@{
    ViewData["Title"] = "Tarif editieren";
}

<h1>Tarif editieren</h1>

<h4>Tarif</h4>
<hr />
<div class="row">
    <form class="col-md-12" method="post">
        <div class="form-row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Tarif.Id" />
                <div class="form-group">
                    <label asp-for="Tarif.Title" class="control-label"></label>
                    <span asp-validation-for="Tarif.Title" class="text-danger float-right"></span>
                    <input asp-for="Tarif.Title" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Tarif.Fee" class="control-label"></label>
                    <span asp-validation-for="Tarif.Fee" class="text-danger float-right"></span>
                    <div class="input-group">
                        <input asp-for="Tarif.Fee" class="form-control"/>
                        <div class="input-group-append">
                            <span class="input-group-text">€</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Tarif.Description" class="control-label"></label>
                    <span asp-validation-for="Tarif.Description" class="text-danger float-right"></span>
                    <textarea asp-for="Tarif.Description" class="form-control" rows="4"></textarea>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value="Speichern" class="btn btn-primary mr-1" />
                    <a class="btn btn-secondary mr-1" asp-page="./Index">Zurück zur Liste</a>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
