@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Zugriff Verweigert";
}

<h1 class="text-danger">Zugriff verweigert!</h1>

<p>
    Wenden sie sich bitte an den zuständigen Administrator.
</p>