@page
@model PrivacyModel
@{
    ViewData["Title"] = "Datenschutz und Impressum";
}
<h1>@ViewData["Title"]</h1>


<h2>Datenschutz</h2>

<p>Eure Daten sind euer Eigentum!</p>

<p>
    Wir verwenden keine Tracker und geben eure Daten an niemanden weiter. Die Daten werden ausschließlich zur Verfügungstellung dieses Services gespeichert.
</p>

<div>
    <h2>Impressum</h2>

    <h3>Angaben gemäß § 5 TMG:</h3>

    <p>STEC UG (haftungsbeschränkt)<br>
    Keltenstraße 7<br>
    74626 Bretzfeld</p>

    <h3>Vertreten durch:</h3>

    <p>Stefan Schick</p>

    <h3>Kontakt:</h3>

    <p>Telefon: +49 170 7336463<br>
    E-Mail: info[at]stecug.de</p>

    <h3>Registereintrag:</h3>

    <p>Eintragung im Handelsregister.<br>
    Registergericht: Amtsgericht Stuttgart<br>
    Registernummer: HRB 755949</p>

    <p>Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br>
    DE 305129506</p>
</div>
